<!DOCTYPE html>
<html lang="en" style="height:100%;">
    <head>
        {{template "metatags" .}}
        {{template "css" .}}
        {{template "htmxjs" .}}
    </head>
    <body class="bg-black text-white">
        {{template "content" .}}
    </body>
</html>